[Desktop Entry]
Name=FSFW Screen
X-KDE-PluginInfo-Name=FSFWScreen
X-KDE-PluginInfo-Author=Gerd G
X-KDE-PluginInfo-Email=gerdg-dd@gmx.de
X-KDE-PluginInfo-License=GPLv2+
