[Desktop Entry]
Name=Soft Waves
Name[fr]=Vagues Douces
X-KDE-PluginInfo-Name=SoftWaves
X-KDE-PluginInfo-Author=Juliette Taka Belin
X-KDE-PluginInfo-Email=juliettetaka.belin@gmail.com
X-KDE-PluginInfo-License=GPLv2+
