[Desktop Entry]
Icon=image-png
Name=fsfw-dresden-wallpaper_v1.png
Type=Link
URL[$e]=file://$HOME/Bilder/fsfw-dresden-wallpaper_v1.png
X-KDE-LastOpenedWith=plasma-desktop
