AlternateServices.*
bookmarkbackups
bounce-tracking-protection.sqlite
broadcast-listeners.json
browser-extension-data/uBlock0@raymondhill.net/storage.js
# Bitwarden password manager
browser-extension-data/{446900e4-71c2-419f-a6a7-df9c091e268b}/storage.js
cert9.db
containers.json
content-prefs.sqlite
cookies.sqlite
crashes
datareporting
favicons.sqlite
formhistory.sqlite
gmp-gmpopenh264
handlers.json
key4.db
lock
.parentlock
permissions.sqlite
pkcs11.txt
places.sqlite
protections.sqlite
SecurityPreloadState.txt
security_state
serviceworker.txt
sessionCheckpoints.json
sessionstore-backups
sessionstore.jsonlz4
shield-preference-experiments.json
SiteSecurityServiceState.*
*.sqlite-*
storage/
storage.sqlite
storage-sync.sqlite
TRRBlacklist.txt
webappsstore.sqlite
xulstore.json
