AlternateServices.txt
bookmarkbackups
broadcast-listeners.json
cert9.db
containers.json
content-prefs.sqlite
cookies.sqlite
crashes
datareporting
favicons.sqlite
formhistory.sqlite
gmp-gmpopenh264
handlers.json
key4.db
lock
.parentlock
permissions.sqlite
pkcs11.txt
places.sqlite
protections.sqlite
SecurityPreloadState.txt
security_state
serviceworker.txt
sessionstore-backups
sessionstore.jsonlz4
shield-preference-experiments.json
SiteSecurityServiceState.txt
*.sqlite-wal
storage/
storage.sqlite
storage-sync.sqlite
TRRBlacklist.txt
webappsstore.sqlite
xulstore.json
