[Desktop Entry]
Name=Cheese
Name[de]=Cheese
GenericName=Webcam Booth
GenericName[de]=Webcam-Automat
X-GNOME-FullName=Cheese Webcam Booth
X-GNOME-FullName[de]=Cheese Webcam-Automat
Comment=Take photos and videos with your webcam, with fun graphical effects
Comment[de]=Ein Programm, um Bilder und Videos mit einer Webcam aufzunehmen und lustige graphische Effekte hinzuzufügen
Keywords=photo;video;webcam;
Keywords[de]=Foto;Video;Webcam;Kamera;
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Cheese
Categories=GNOME;AudioVideo;Video;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cheese
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.31.90
DBusActivatable=true
X-XFCE-Source=file:///usr/share/applications/org.gnome.Cheese.desktop
