# image output directory
artifacts/

# live-build work directories and files
build/binary/
build/cache/
build/chroot/
build/chroot*
build/config/
build/source/
build/.build/
build/.lock
build/*.log
build/*.iso
build/*.img
build/*.tar*
build/*.files
build/*.contents
build/*.packages
build/*.zsync
