[Desktop Entry]
Type=Application
Name=welcome3.avi
Comment=Windows 95 extra
Exec=sh -c "sleep 5; mpv --fullscreen /usr/local/share/Chicago95/welcome3.avi"
