[Desktop Entry]
Name=Qalculate!
Comment=Powerful and easy to use calculator
Exec=qalculate-gtk
Icon=qalculate
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Application;Utility;Calculator;Science;Math;
X-XFCE-Source=file:///usr/share/applications/qalculate-gtk.desktop
