## grub.cfg - generiert - {{ DATE }}

set timeout=3
set default=0
set isofile=/boot/{{ STICK_ISO }}
set prefix=($root)/boot/grub

insmod part_msdos
insmod ntfs
insmod fat
# insmod exfat
insmod ext2
insmod iso9660
insmod font
insmod play
# play tempo [pitch1 duration1] [pitch2 duration2] ...
play 1320 64 1 0 4 64 1 0 0 128 1

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
#   insmod efi_gop
#   insmod efi_uga
#   insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

if loadfont ${prefix}/fonts/unicode.pf2; then
  set gfxmode=auto
  load_video
  insmod gfxterm
  set locale_dir=${prefix}/locale
  set lang=de_DE
  insmod gettext
  set gfxpayload=keep
  terminal_output gfxterm
fi

insmod png
if background_image ${prefix}/fsfw-background_640x480.png; then
  set color_normal=white/black
  set color_highlight=black/white
else
  set menu_color_normal=cyan/blue
  set menu_color_highlight=white/blue
fi


menuentry "Live-System ({{ STICK_VERSION }} mit Persistenz)" {
    linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} persistence
    initrd /boot/initrd.img
}

menuentry " " {
  echo
}

menuentry "Live-System Failsafe (falls normales Starten nicht funktioniert) ({{ STICK_VERSION }})" {
    linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} persistence memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd /boot/initrd.img
}

menuentry "Live-System ohne Gedächtnis (Änderungen gehen verloren) ({{ STICK_VERSION }})" {
    linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }}
    initrd /boot/initrd.img
}

menuentry " " {
  echo
}

submenu "  [ Stick-Gedächtnis (Persistenz) zurücksetzen ]" {

  set isofile=/boot/{{ STICK_ISO }}
  menuentry "Alle Änderungen am Stick zurücksetzen (!löscht ALLE geänderten Dateien!)" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} persistence persistence-remove
      initrd /boot/initrd.img
  }

  menuentry "Systemdateien zurücksetzen (bei Updates)" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} persistence persistence-remove=linux-system
      initrd /boot/initrd.img
  }

  menuentry "Userdateien löschen (zur Reparatur; erstellt Backup auf Austauschpartition)" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} persistence persistence-remove=linux-userdata backup
      initrd /boot/initrd.img
  }

}

submenu "  [ Expertenoptionen ]" {

  set isofile=/boot/{{ STICK_ISO }}
  menuentry "Live-System Rettungsmodus (mit Persistenz) ({{ STICK_VERSION }})" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal single persistence
      initrd /boot/initrd.img
  }

  menuentry "Live-System Rettungsmodus (ohne Persistenz) ({{ STICK_VERSION }})" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal single
      initrd /boot/initrd.img
  }

  menuentry "Live-System komplett in Arbeitsspeicher laden (ohne Persistenz) ({{ STICK_VERSION }})" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} toram
      initrd /boot/initrd.img
  }

  menuentry "Live-System debuggen (mit Persistenz) ({{ STICK_VERSION }})" {
      linux /boot/vmlinuz boot=live findiso=$isofile components {{ BOOTOPTIONS }} debug console=ttyS0 persistence
      initrd /boot/initrd.img
  }

}

submenu "  [ Werkzeuge ] " {
{% if MEMTEST is defined %}
  menuentry "Memory test (memtest86+) iso " {
    linux16 /boot/memdisk iso
    initrd16 /boot/memtest86+-5.01.iso
  }
{%- endif %}
{% if HDT is defined %}
  menuentry "Hardware Test (HDT) " {
    linux16 /boot/memdisk iso
    initrd16 /boot/hdt-0.5.2.iso
  }
{%- endif %}
{% if SUPERGRUB2ISO is defined %}
  menuentry "Super Grub2 Disk " {
    loopback loop {{ SUPERGRUB2ISO }}
    root=(loop)
    configfile /boot/grub/loopback.cfg
  }
{%- endif %}

  menuentry "lspci - Hardware Infos " {
    lspci
    read
  }

  menuentry "VbeInfo" {
    vbeinfo
    read
  }

}

## sonstige Menüeinträge

menuentry " " {
  echo
}

menuentry "Rechner von Festplatte starten " {
  set root=(hd1)
  chainloader +1
}

menuentry " " {
  echo
}

menuentry "Rechner neu starten " {
  reboot
}

menuentry "Rechner ausschalten " {
  halt
}

