[Desktop Entry]
Version=1.0
Name=gbrainy
Name[de]=gbrainy
GenericName=Game
GenericName[de]=Spiel
Comment=Play games that challenge your logic, verbal, calculation and memory abilities
Comment[de]=Spiele, die Ihre logischen, verbalen und Kopfrechenfähigkeiten sowie Ihr Gedächtnis herausfordern
Keywords=game;logic;memory;teaser;brain;
Keywords[de]=spiel;logik;gedächtnis;knobeln;gehirn;
Exec=gbrainy
Icon=gbrainy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gbrainy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=@VERSION@
X-XFCE-Source=file:///usr/share/applications/gbrainy.desktop
