[Desktop Entry]
Comment=
Icon=user-green-desktop
Name[de_DE]=FSFW-Material
Name=FSFW-Material
Type=Link
URL[$e]=file:///home/user/FSFW-Material
Version=1.0
