[Desktop Entry]
Name=Scribus
Type=Application
Icon=scribus
Comment=Page Layout and Publication
GenericName=Page Layout (Development)
TryExec=scribus
Exec=scribus %f
Terminal=false
MimeType=application/vnd.scribus;
Categories=Qt;Graphics;Publishing;
StartupWMClass=scribus
StartupNotify=false
X-AppInstall-Package=scribus
X-AppInstall-Section=main
X-KDE-SubstituteUID=false
X-KDE-Username=
X-XFCE-Source=file:///usr/share/applications/scribus.desktop

[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
DocPath=scribus
