[Desktop Entry]
Version=1.0
Type=Link
Name=Unsere Schule
Icon=logo-49-grundschule-dresden
URL=https://www.49gs-dresden.de/
Comment=49. Grundschule "Bernhard August von Lindenau"
