[Desktop Entry]
Name=Brain Party
GenericName=Brain Party
Exec=brainparty
Icon=brainparty
Type=Application
Categories=Game;LogicGame;
Comment=36 puzzle games for all the family
Comment[de]=36 Denkspiele für die ganze Familie
Terminal=false
Keywords=family;puzzle;logic;game;riddle;
X-XFCE-Source=file:///usr/share/applications/brainparty.desktop
