[Unit]
Description=AppImage system integration daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/appimaged

LimitNOFILE=65536

RestartSec=3
Restart=always

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=appimaged

Environment=LAUNCHED_BY_SYSTEMD=1

[Install]
WantedBy=default.target