[Desktop Entry]
Exec=jupyter notebook; firefox http://localhost:8888/
GenericName=Jupyter/IPython Notebook
Icon=text-x-python
Name=Jupyter/IPython Notebook
Type=Application
Terminal=True
