[Desktop Entry]
Name=Duplicate Live-Stick
Name[de]=Live-Stick kopieren
Type=Application
Exec=sudo /usr/src/usb-live-linux/scripts/stick-install
Icon=live-usb-kernel-updater
Categories=Settings
Terminal=true
StartupNotify=false
