[Desktop Entry]
Name=Live-Stick Hotplug Autorun
Type=Application
Exec=sudo /usr/src/usb-live-linux/scripts/hotplug-autorun
Icon=tag
Categories=Settings
Terminal=true
StartupNotify=false
