[Desktop Entry]
Name=GeoGebra Classic
GenericName=Dynamic mathematics software
GenericName[de]=Dynamische Mathematiksoftware
Comment=Create interactive mathematical constructions and applets. 
Comment[de]=Erstellen Sie interaktive Konstruktionen und Applets.
TryExec=geogebra-classic
Exec=geogebra-classic %F
Icon=geogebra-classic
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Math;
X-XFCE-Source=file:///usr/share/applications/geogebra-classic.desktop
