[Desktop Entry]
Name=KTurtle
Name[de]=KTurtle
GenericName=Educational Programming Environment
GenericName[de]=Programmierumgebung für den Unterricht
Exec=kturtle -qwindowtitle %c
Icon=kturtle
X-DocPath=kturtle/index.html
Type=Application
Categories=Qt;KDE;Education;ComputerScience;X-KDE-Edu-Misc;
X-DBUS-ServiceName=org.kde.kturtle
X-XFCE-Source=file:///usr/share/applications/org.kde.kturtle.desktop
