[Desktop Entry]
Name=Tux Math 
GenericName=Educational math game
GenericName[de]=Mathe Spiel
Comment=Tux Math - Learn math with Tux!
Comment[de]=Tux Math - Lerne Mathe mit Tux!
Exec=tuxmath
Icon=tuxmath
Type=Application
Terminal=false
Categories=Education;Math;
X-Ubuntu-Gettext-Domain=tuxmath
X-XFCE-Source=file:///usr/share/applications/tuxmath.desktop
