[Desktop Entry]
Name=Soft Waves Lock Screen
Name[fr]=Écran de verrouillage pour Vagues Douces
X-KDE-PluginInfo-Name=SoftWavesLockScreen
X-KDE-PluginInfo-Author=Juliette Taka Belin
X-KDE-PluginInfo-Email=juliettetaka.belin@gmail.com
X-KDE-PluginInfo-License=GPLv2+
