[Desktop Entry]
Categories=Office;Publishing;
Path=/home/user/FSFW-Material/latex-vorlagen/abschlussarbeit
Exec=texstudio muster-diplomarbeit.tex
GenericName=LaTeX Editor
GenericName[de]=LaTeX Editor
GenericName[fr]=Editeur LaTeX
Comment=LaTeX development environment
Comment[de]=LaTeX Entwicklungsumgebung
Comment[fr]=Environnement de développement LaTeX
Icon=texstudio
Keywords=editor;latex;pdflatex;xelatex;lualatex;context;bibtex;tex;
MimeType=text/x-tex;
Name=TeXstudio mit FSFW LaTeX Vorlage
Type=Application
