[Unit]
Description=Prepare writable overlay on %f
DefaultDependencies=no
RequiresMountsFor=/run

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p '/run%f'
ExecStart=/bin/mount -t tmpfs -o noatime tmpfs '/run%f'
ExecStart=/bin/mkdir -p '/run%f/work' '/run%f/rw'
