[Unit]
Description=tmpfs overlay of %f
Conflicts=umount.target
Wants=pre-overlay@%p.service
After=pre-overlay@%p.service
Before=basic.target

[Mount]
What=overlay
Type=overlay
Where=%f
Options=lowerdir=%f,upperdir=/run%f/rw,workdir=/run%f/work

[Install]
WantedBy=live-config.service
