binary/
*.iso
*.img
*.tar*
*.files
*.contents
*.packages
*.zsync

.build/
build.log
build.errors.log

cache/

chroot/
chroot.packages.*
chroot.files

config/binary
config/bootstrap
config/chroot
config/common
config/source
config/build
config/package-lists
config/hooks

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync
