[Desktop Entry]
Name=Klavaro
GenericName=Yet another touch typing tutor
GenericName[de]=Ein weiteres Programm zum Erlernen des Tastschreibens
Comment=A very flexible and efficient touch typing tutor.
Comment[de]=Ein sehr flexibles und effizientes Programm zum Erlernen des Tastschreibens.
Keywords=keyboard;typing;tutor;CAI
Keywords[de]=keyboard;typing;tutor;CAI
Exec=klavaro
Icon=klavaro
Terminal=false
Type=Application
Categories=Education;GTK;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/klavaro.desktop
