[Desktop Entry]
Type=Link
Name=GeoGebra Hilfeseiten (Online)
URL=https://wiki.geogebra.org/de/Hauptseite
Icon=geogebra-classic
Categories=Education;Math;
