[Desktop Entry]
Version=1.0
Type=Link
Name=Womit mach ich was
Comment=Was möchtest Du machen?
Icon=kubrick
URL=/usr/local/share/doc/FSFW-Dresden/schulstick.html
