[Desktop Entry]
Name=FSFW doku autostart
Type=Application
Exec=sh -c 'pgrep firefox || nohup firefox /usr/local/share/doc/FSFW/index.html'
StartupNotify=false
