[Desktop Entry]
Version=1.0
Type=Link
Name=Schulstick-Wiki
Comment=(in Arbeit)
Icon=folder-yellow-visiting
URL=https://wiki.fsfw-dresden.de/doku.php/doku/grundschulstick
