[Desktop Entry]
Version=1.0
Type=Link
Name=Welches Programm wofür
Comment=Willkommen beim FSFW-Schulstick — Was möchtest Du machen?
Icon=kubrick
URL=/usr/local/share/doc/FSFW-Dresden/schulstick.html
